## Package Installation
install the package in your `R` if it does not exist already

In [ ]:
install.packages("tidyverse")

## Importing the package

In [ ]:
library(tidyverse)

## Data Set/Frame

Now lets create some data with which we can do some data plotting/visualizing using our newly installed library `tidyverse` where we will be using `tibbles`, `dplyr`, and many more libraries

In [ ]:
# Build a tibble of student data
df_students <- tibble(
  
  # Student names
  name = c('Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky',
           'Frederic', 'Jimmie', 'Rhonda', 'Giovanni',
           'Francesca', 'Rajab', 'Naiyana', 'Kian', 'Jenny',
           'Jakeem','Helena','Ismat','Anila','Skye','Daniel',
           'Aisha'),
  
  # Study hours
  study_hours = c(10.0, 11.5, 9.0, 16.0, 9.25, 1.0, 11.5, 9.0,
                 8.5, 14.5, 15.5, 13.75, 9.0, 8.0, 15.5, 8.0,
                 9.0, 6.0, 10.0, 12.0, 12.5, 12.0),
  
  # Grades
  grade = c(50, 50, 47, 97, 49, 3, 53, 42, 26,
             74, 82, 62, 37, 15, 70, 27, 36, 35,
             48, 52, 63, 64)
)

# Print the tibble
df_students

## Importing data from Online CSV File

We can use the `read_csv` function and then slice_head function to query certain number of rows only

In [ ]:
# Importing using read_csv function
students <- read.csv(file = "https://raw.githubusercontent.com/MicrosoftDocs/ml-basics/master/data/grades.csv")

# printing data from csv, particularly first 10 results from it
slice_head(students, n = 10)

# printing results from 5-10 rows
slice(students, 5:10)

## Lets do some Queries

We can filter the data out using the `filter` function in `dplyr` library like this

In [ ]:
# Fetches where the column `Name` has value `Jenny`
filter(students, Name == "Jenny")

# Kind of works like the SQL in function
# Basically queries where the `Name` column has `Jenny` and `Giovanni` in it.
# The data to be queried is in vector form indicated by `c`
filter(students, Name %in% c("Jenny", "Giovanni"))

# We can query mutliple factors just by adding a comma
# This works as `AND` operation
filter(students, StudyHours > 12, Grade > 80)

# OR

filter(students, StudyHours > 12 & Grade > 80)